.container-table {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

table.table {
  width: 80%;
  background-color: rgba(218, 216, 216, 0.411);
  margin-top: 100px;
  border-color: #9f95955b;
}

img {
  width: 32px;
}

.posicao {
  width: 1%;
}

.classificacao {
  width: 23%;
}

.pontos {
  width: 2%;
}

span {
  padding: 12px;
}
